<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334068316654-8952ckdmuf44isg67lklrasj0iqohegr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334068316654-8952ckdmuf44isg67lklrasj0iqohegr</string>
	<key>API_KEY</key>
	<string>AIzaSyCxtC5qpjaNlm10-TTKqRzvM0Kwh9-RKx4</string>
	<key>GCM_SENDER_ID</key>
	<string>334068316654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bugaa</string>
	<key>PROJECT_ID</key>
	<string>buga-69852</string>
	<key>STORAGE_BUCKET</key>
	<string>buga-69852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334068316654:ios:9b439883c75e22e6d6f6ff</string>
</dict>
</plist>